<div class="mt-100 me-auto ms-auto pb-5" style="width: 500px;">
	<mat-card class="mat-elevation-z3">
		<mat-card-title class="text-center ps-3 pt-5 pe-3">Obtener nueva contraseña</mat-card-title>

		<mat-card-content class="p-4">
			<form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()">
				<mat-form-field class="w-100 pb-2" appearance="outline">
					<mat-label>Contraseña</mat-label>
					<input type="password" matInput formControlName="password" placeholder="*************">
					<mat-error *ngIf="password.hasError('required')">
						La contraseña es <b>Obligatoria</b>
					</mat-error>
					<mat-error *ngIf="password.hasError('minlength', 'maxlength')">
						La contraseña debe tener de 6 a 32 caracteres
					</mat-error>
					<mat-error *ngIf="password.hasError('serverError')">
						La contraseña debe ser alfanumérica y debe incluir mayúsculas, minúsculas y caracteres especiales
					</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100 pb-2" appearance="outline">
					<mat-label>Repetir contraseña</mat-label>
					<input type="password" matInput formControlName="passwordRepeat" placeholder="*************" [errorStateMatcher]="repeatPasswordMatcher">
					<mat-error *ngIf="passwordRepeat.hasError('required')">
						La contraseña es <b>Obligatoria</b>
					</mat-error>
					<mat-error *ngIf="resetPasswordFormGroup.hasError('passwordMissMatch') || passwordRepeat.hasError('serverError')">
						Las contraseñas no coinciden
					</mat-error>
				</mat-form-field>

				<mat-card-actions align="end" style="padding-right: 8px;">
					<button mat-raised-button style=" background-color: #003366; color: white;" type="submit">Guardar</button>
				</mat-card-actions>
			</form>
		</mat-card-content>

		<mat-card-footer *ngIf="fetchingResult">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-card-footer>
	</mat-card>
</div>