<footer class="text-center text-white" style="background-color: #0A0D0E;" >
    <div class="border border-warning">
      <nav >
        <a href="https://www.facebook.com/esteban.ojeda.718689" target="_blank"><img id="if" width="30" height="30" src="./assets/logo-de-facebook.png"></a>
        <a href="https://www.instagram.com/estebanojeda2361/" target="_blank"><img id="if" width="30" height="30" src="./assets/instagram.png"></a>
        <a href="https://twitter.com/fred0814" target="_blank"><img id="if" width="30" height="30" src="./assets/twitter.png"></a>
    </nav>
    <span style="color: #206DC1">© 2022 Copyright: Freddy Ojeda - Ronaldo Perez</span>
    </div>
    
  </footer>