<div class="text-center fully-centered" *ngIf="loadingPostTags">
	<mat-spinner style="zoom: 0.5;" class="text-center ms-auto me-auto"></mat-spinner>
	<mat-spinner></mat-spinner>
</div>
<div class="col-6 mb-4">
	<div class="profile-posts">
		<app-post *ngFor="let postResponse of tagsPostResponses" id="{{'profilePost' + postResponse.post.id}}" [postResponse]="postResponse" [isDetailedPost]="false" (postDeletedEvent)="handlePostDeletedEvent($event)"></app-post>
	</div>

	<div class="text-center mt-3">
		<button mat-raised-button color="primary" class="mat-btn-lg rounded-pill" *ngIf="hasMoreResult && !fetchingResult" (click)="loadProfilePosts(resultPage)">Cargar mas</button>
		<mat-spinner style="transform: scale(0.3);" class="text-center ms-auto me-auto" *ngIf="fetchingResult"></mat-spinner>
		<span class="fw-500" *ngIf="hasNoPost">Aun no tienes publicaciones</span>
		<span class="fw-500" *ngIf="!hasMoreResult && !hasNoPost">No hay mas publicaciones</span>
	</div>
</div>